<div class="container-fluid">
  <div class="text-center" *ngIf="loading">
    <div class="spinner-border text-danger" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <div
    class="alert alert-danger alert-dismissible fade show"
    role="alert"
    *ngIf="showError"
  >
    <strong>Opss!</strong> Ha ocurrido un error: {{ errorMessage }}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>

  <h4 class="text-center">CREAR PRODUCTO</h4>
  <hr />
  <form autocomplete="off" [formGroup]="form" (ngSubmit)="saveProduct()">
    <div>
      <div class="form-group row mb-2">
        <label class="col-2 col-form-label">Nombre Producto</label>
        <div class="col-8">
          <input
            class="form-control"
            type="text"
            placeholder="Nombre Producto"
            formControlName="productName"
            [class.is-invalid]="
              form.get('productName').invalid && form.get('productName').touched
            "
          />
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-2 col-form-label">Cantidad</label>
        <div class="col-8">
          <input
            class="form-control"
            type="number"
            placeholder="Cantidad"
            formControlName="quantity"
            [class.is-invalid]="
              form.get('quantity').invalid && form.get('quantity').touched
            "
          />
        </div>
      </div>
    </div>

    <div class="form-group row mb-2">
      <label class="col-2 col-form-label">Descripción</label>
      <div class="col-md-8">
        <input
          class="form-control"
          type="email"
          placeholder="Descripción"
          formControlName="description"
          [class.is-invalid]="
            form.get('description').invalid && form.get('description').touched
          "
        />
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">&nbsp;</label>
      <div class="input-group col-md-8">
        <button
          type="button"
          class="btn btn-outline-primary m-1"
          routerLink="/home"
        >
          Cancelar
        </button>
        <button type="submit" class="btn btn-outline-success m-1">
          Guardar
        </button>
      </div>
    </div>
  </form>
</div>
