<div class="container-fluid">
  <div class="text-center" *ngIf="loading">
    <div class="spinner-border text-danger" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <div
    class="alert alert-warning alert-dismissible fade show"
    role="alert"
    *ngIf="totalData === 0"
  >
    <strong>Opss!</strong> No hay registros
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>

  <table class="table" *ngIf="totalData > 0">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Descripción</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Usuario</th>
        <th scope="col">Activo</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <th scope="row">{{ product._id }}</th>
        <td>{{ product.productName }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.quantity }}</td>
        <td>{{ product.username }}</td>
        <td>
          <span class="badge bg-success" *ngIf="product.enable">ACTIVO</span>
          <span class="badge bg-danger" *ngIf="!product.enable">INACTIVO</span>
        </td>
        <td>
          <button
            type="button"
            class="btn btn-warning btn-sm"
            (click)="editProduct(product)"
          >
            Editar
          </button>
          &nbsp;
          <button
            type="button"
            class="btn btn-danger btn-sm"
            (click)="activeOrInactive(product)"
          >
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
